name: main

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v5
      - run: pip3 install tox --user
      - run: echo "$HOME/.local/bin" >> $GITHUB_PATH
      - run: tox
